# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
src/**/*.js.map
src/**/*.js
projects/**/*.js.map
projects/**/*.js
e2e/**/*.js.map
e2e/**/*.js

# dependencies
/node_modules

# reports e logs
logs/
.jscpd/
report/
allure-results

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
reports
allure-results

# System Files
.DS_Store
Thumbs.db
